{
    "printWidth": 90,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "useTabs": false,
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^./(.*\\.scss)$",
        "^@/fonts/(.*)$",  
        "^import type (.*)$",   
        "^@/types/(.*)$",              
        "^react$",            
        "^next/(.*)$",         
        "^@/components/(.*)$",
        "^@/UI/(.*)$",
        "^@/all-pages/(.*)$",  
        "^@/redux/(.*)$",      
        "^@/hooks/(.*)$",      
        "^@/utils/(.*)$",
        "^@/providers/(.*)$",       
        "^@/http/(.*)$", 
        "^@/context/(.*)$",        
        "^@/public/(.*)$",     
        "^@/app/(.*)$",        
        "^./(.*)$"             
      ],
      "importOrderSeparation": true, 
      "importOrderSortSpecifiers": true 
  }