@import "../../../styles/variables";

.root {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  background-color: $color-darken-blue;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color-white;
  .logo {
    fill: $color-white !important;
    color: $color-white !important;
    width: 75%;
    position: absolute;
    top: 5%;
  }
  .links_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
    .link_div {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4%;
      padding: 4% 10%;
      font-size: calc(#{$font-size} / 1.4);
      transition: all 0.3s;
      &:hover {
        background-color: $color-aqua;
      }
    }
  }
}

.active_link {
  background-color: $color-aqua;
  pointer-events: none;
}
